@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";
/* @import "daisyui"; */
body {
  background: linear-gradient(rgba(0, 0, 0, 0.747),rgba(255, 8, 0, 0.842));
   background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.scrollbar-hide::-webkit-scrollbar {
    display: none;
}