@import "tailwindcss/preflight";
@import "tailwindcss/utilities";
@import "tailwindcss";
/* @import "daisyui"; */
body {
  background: linear-gradient(rgba(58, 192, 216, 0.747),rgba(184, 66, 11, 0.842)),url(/bg.jpg);
   background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.bgimage{
  background: url(../public/bgmessage.jpg);
  background-position: center;
  background-size: cover;
}